@import "../../../SassVariables.scss";

.btn {
  align-items: center;
  border: none;
  border-radius: 5px;
  display: flex;
  font-family: $oswald;
  font-size: 16px;
  gap: 0.2rem;
  overflow: hidden;
  padding: 0.5rem 1rem;
  position: relative;

  &:hover {
    color: $modal;
    cursor: pointer;
    overflow: visible;
  }

  .toolTip {
    color: $secondary;
    left: 0;
    position: absolute;
    overflow: hidden;
    top: -100%;
    width: 113%;
  }
}

.danger {
  background-color: $error;
  color: $secondary;
}

.primary {
  background-color: $primary;
  color: $secondary;
}

.secondary {
  background-color: $secondary;
  color: $primary;
}

.success {
  background-color: $success;
  color: $secondary;
}

.warning {
  background-color: $warning;
  color: $secondary;
}
