@import "../../../SassVariables.scss";

.date_control {
  .error_message {
    color: $error;
    font-size: 14px;
  }
  .picker {
    border: 1px solid $secondary;
    border-radius: 3px;
    font-size: 20px;
    padding: 0.45rem;
    width: 100%;
  }
}
