@import "../../../SassVariables.scss";

.container {
  border-radius: 8px;
  box-shadow: 6px 6px 10px $secondary;
  padding: 0.5rem;
  width: 45%;

  .form_title {
    text-align: center;
  }

  .error {
    border-color: $error;
  }

  .btn_wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
  }
}
