@import "../../../SassVariables.scss";

.linkPrimary {
  align-items: center;
  background-color: $secondary;
  color: $primary;
  display: flex;
  flex-grow: 1;
  justify-content: center;

  &:hover {
    color: $modal;
    cursor: pointer;
  }
}

.linkSecondary {
  align-items: center;
  color: $secondary;
  display: flex;
  flex-grow: 1;
  justify-content: center;

  &:hover {
    color: $modal;
    cursor: pointer;
  }
}

.noPad {
  padding: 0;
}

.pad {
  padding: 1rem;
}
