@import "../../../SassVariables.scss";

.link {
  align-items: center;
  background-color: $secondary;
  color: $primary;
  display: flex;
  flex-grow: 1;

  &:hover {
    color: $modal;
    cursor: pointer;
  }
}
