@import "../../../SassVariables.scss";

.general_wrapper {
  width: 100%;
  .row {
    display: flex;
    gap: 0.5rem;
  }
}

@media (max-width: 1280px) {
  .general_wrapper {
    .row {
      flex-direction: column;
    }
  }
}
