@import "../../../SassVariables.scss";

.password_wrapper {
  width: 100%;

  .row {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    .inputControl {
      display: flex;
      flex-direction: column;
      width: 100%;

      input {
        border: 1px solid $secondary;
        border-radius: 3px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .row {
    flex-direction: column;
  }
}
