@import "../../../SassVariables.scss";

.select_control {
  display: flex;
  flex-direction: column;
  width: 100%;

  .error_message {
    color: $error;
    font-size: 14px;
  }

  .select {
    border: 1px solid $secondary;
    border-radius: 3px;
    font-size: 20px;
  }
}

.padding {
  padding: 0 0.5rem;
}
