@import "../../../SassVariables.scss";

.inputControl {
  display: flex;
  flex-direction: column;

  .error {
    background-color: $error;
    border-color: $error;
  }

  .errorMessage {
    color: $error;
    font-size: 14px;
  }

  .input {
    border: 1px solid $secondary;
    border-radius: 3px;
    font-size: 20px;
  }
}
.stretch {
  width: 100%;
}

.checkbox {
  align-items: flex-start;
}

.padding {
  padding: 0 0.5rem;
}
