@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

//Font Family
$oswald: "Oswald", sans-serif;

//Font Weights
$regular: 400;
$bold: 700;

//Colors
$primary: #fbf5f3;
$secondary: #0b132b;
$success: #6fd08c;
$error: #fe5f55;
$modal: #7b7263;
