@import "../../../SassVariables.scss";

.list {
  border-radius: 8px;
  box-shadow: 6px 6px 10px $secondary;
  height: fit-content;
  padding: 1rem;
  width: 45%;

  table {
    width: 100%;

    th {
      border: 1px solid $secondary;
    }
  }
  .total {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}
