@import "../../SassVariables.scss";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  justify-content: center;

  .form {
    align-items: center;
    border-radius: 8px;
    box-shadow: 5px 8px 10px black;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0.5rem;
    width: 35%;

    .error {
      border-color: $error;
    }
  }
}

@media (max-width: 1280px) {
  .container {
    .form {
      gap: 1rem;
    }
  }
}

@media (max-width: 912px) {
  .container {
    .form {
      width: 75%;
    }
  }
}

@media (max-width: 540px) {
  .container {
    .form {
      gap: 1rem;
      width: 95%;
      .userWrapper {
        flex-direction: column;
      }
    }
  }
}
